.navbar-links{
    display: flex;
    gap: 15px;
}
.navbar{
    width: 100vw;
    position: fixed;
    padding: 1rem;
}
.navbar-content{
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.7px);
    -webkit-backdrop-filter: blur(11.7px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    border-radius: 10px;
    padding: 1rem;
    padding-inline: 3rem;
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}